.box{
    height: 550px;
    width: 200px;
    border: solid 5px;
    border-radius: 4px;
    top: 50px;
}
.div1{
    background-color: yellowgreen;
    position: absolute;

}
.div2{
    background-color:rgb(0, 162, 255);
    position: absolute;
    left: 300px;
}
.div3{
    background-color:blueviolet;
    position: absolute;
    left:600px;
}
.div4{
    background-color:dimgray;
    position: absolute;
    left: 900px;
}